<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
  <ion-button type="submit" routerLink="/registration" expand="block">Register</ion-button>
  <ion-button type="submit" routerLink="/login" expand="block">Login</ion-button>
  <ion-button type="submit" (click)="authService.SignOut()" expand="block">Logout</ion-button>
</ion-content>
